{% load static %}
<article id="contact" class="wrapper style4">
    <div class="container medium">
        <div class="row">
            <div class="col-12">
                <hr />
                <h3>Redes Sociais</h3>
                <ul class="social">
                    <li>
                        <a
                            href="https://github.com/JonathaCnB"
                            class="icon brands fa-linkedin-in"
                            target="_blank"
                        >
                            <span class="label">LinkedIn</span>
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://github.com/JonathaCnB"
                            class="icon brands fa-github"
                            target="_blank"
                        >
                            <span class="label">Github</span>
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://wa.me/5592992034133"
                            class="icon brands fa-whatsapp"
                            target="_blank"
                        >
                            <span class="label">WhatsApp</span>
                        </a>
                    </li>
                </ul>
                <hr />
            </div>
        </div>
    </div>
</article>
